# Taro's STATSM148 Notebook

### I. Data Cleaning and Feature Engineering

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('export.csv')

In [3]:
event_defs = pd.read_csv('event_definitions.csv')

In [6]:
merged = pd.merge(data, event_defs, left_on='ed_id', right_on='event_definition_id', how='inner')

In [7]:
merged['event_timestamp'] = pd.to_datetime(merged['event_timestamp'])

In [12]:
merged = merged.drop(['event_name_x', 'event_definition_id'], axis=1)

In [9]:
merged.customer_id.nunique()

1665623

In [10]:
merged.account_id.nunique()

1735383

In [13]:
merged.head()

,customer_id,account_id,ed_id,event_timestamp,journey_steps_until_end,event_name_y,journey_id,milestone_number,stage
0,-784961211,1773350293,12,2023-03-22 08:45:22+00:00,1,application_web_approved,1,1.0,Apply for Credit
1,15849251,383997507,12,2021-11-29 15:44:08+00:00,15,application_web_approved,1,1.0,Apply for Credit
2,155529381,1786111954,12,2023-07-24 22:41:12+00:00,2,application_web_approved,1,1.0,Apply for Credit
3,-1697747935,-1016455199,12,2021-03-30 16:51:15+00:00,9,application_web_approved,1,1.0,Apply for Credit
4,-986357645,1289564882,12,2023-03-29 21:31:14+00:00,1,application_web_approved,1,1.0,Apply for Credit

In [15]:
merged = merged.sort_values(by='customer_id')