# Model

* **Team :** Data Crew

This is the corresponding jupyter notebook where the model will be developed and stored in order to make predictions on the data.

In [18]:
# Basic Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Own Libraries
from utils import has_correct_sequence, fingerhut_data_cleaner, split_sequences

# Dictionary
from collections import defaultdict

sns.set_style('whitegrid')

## Retrieving the data

In [19]:
data = pd.read_csv('../../1. Data/smaller_sample.csv')
event_defs = pd.read_csv('../../1. Data/Event+Definitions.csv')

data

,customer_id,account_id,stage,ed_id,event_name,event_timestamp,journey_steps_until_end,journey_id,milestone_number
0,2.787130e+08,-1812321640,Discover,2,campaign_click,2021-05-31 06:00:00,1,1.0,NaN
1,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:03,2,1.0,NaN
2,2.787130e+08,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:11:51,3,1.0,NaN
3,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,4,1.0,NaN
4,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,5,1.0,NaN
...,...,...,...,...,...,...,...,...,...
3246336,-1.948257e+09,-1123823706,First Purchase,5,view_cart,2023-08-29 02:45:54,28,1.0,NaN
3246337,-1.948257e+09,-1123823706,First Purchase,4,browse_products,2023-08-29 02:45:54,29,1.0,NaN
3246338,-1.948257e+09,-1123823706,First Purchase,11,add_to_cart,2023-08-29 02:45:54,30,1.0,NaN
3246339,-1.948257e+09,-1123823706,First Purchase,6,begin_checkout,2023-08-29 02:45:54,31,1.0,NaN
3246340,-1.948257e+09,-1123823706,First Purchase,6,begin_checkout,2023-08-29 02:45:54,32,1.0,NaN

* Applying the cleaning functions

In [20]:
df = fingerhut_data_cleaner(data, event_defs)
df

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end,stage
0,2.787130e+08,-1812321640,2,campaign_click,2021-05-31 06:00:00,1,Discover
1,2.787130e+08,-1812321640,19,application_web_view,2021-05-31 23:11:03,2,Apply for Credit
2,2.787130e+08,-1812321640,3,application_web_submit,2021-05-31 23:11:51,3,Apply for Credit
3,2.787130e+08,-1812321640,19,application_web_view,2021-05-31 23:11:51,4,Apply for Credit
4,2.787130e+08,-1812321640,19,application_web_view,2021-05-31 23:11:54,5,Apply for Credit
...,...,...,...,...,...,...,...
2849137,-1.948257e+09,-1123823706,11,add_to_cart,2023-08-28 18:50:58,8,First Purchase
2849138,-1.948257e+09,-1123823706,5,view_cart,2023-08-29 02:45:54,9,First Purchase
2849139,-1.948257e+09,-1123823706,4,browse_products,2023-08-29 02:45:54,10,First Purchase
2849140,-1.948257e+09,-1123823706,11,add_to_cart,2023-08-29 02:45:54,11,First Purchase
2849141,-1.948257e+09,-1123823706,6,begin_checkout,2023-08-29 02:45:54,12,First Purchase

* Verifying if the data is clean and the sequences are corrected.

In [21]:
has_correct_sequence(df['journey_steps_until_end'])

True

* Deleting promotion created event

In [22]:
idxs = list(df[df['event_name'] == 'promotion_created'].index)

# DROP THE INDEX OF THIS QUERY IN THE DATASET
df.drop(idxs, inplace=True)
df.reset_index(drop=True, inplace=True)

### Obtaining the sequences with the correct states for the model

* Function for the sequences and the states

In [23]:
result_sequences = split_sequences(df)

In [36]:
data[data['account_id'] == -1812321640]

,customer_id,account_id,stage,ed_id,event_name,event_timestamp,journey_steps_until_end,journey_id,milestone_number
0,278713037.0,-1812321640,Discover,2,campaign_click,2021-05-31 06:00:00,1,1.0,NaN
1,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:03,2,1.0,NaN
2,278713037.0,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:11:51,3,1.0,NaN
3,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,4,1.0,NaN
4,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,5,1.0,NaN
5,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:54,6,1.0,NaN
6,278713037.0,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:12:37,7,1.0,NaN
7,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:37,8,1.0,NaN
8,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:40,9,1.0,NaN
9,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:40,10,1.0,NaN
10,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:41,11,1.0,NaN
11,278713037.0,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:12:53,12,1.0,NaN
12,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:53,13,1.0,NaN
13,278713037.0,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:53,14,1.0,NaN
14,278713037.0,-1812321640,Apply for Credit,12,application_web_approved,2021-05-31 23:13:02,15,1.0,1.0
15,278713037.0,-1812321640,NaN,1,promotion_created,2021-07-08 07:05:14.253,16,NaN,NaN

In [34]:
data.head(50)

,customer_id,account_id,stage,ed_id,event_name,event_timestamp,journey_steps_until_end,journey_id,milestone_number
0,2.787130e+08,-1812321640,Discover,2,campaign_click,2021-05-31 06:00:00,1,1.0,NaN
1,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:03,2,1.0,NaN
2,2.787130e+08,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:11:51,3,1.0,NaN
3,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,4,1.0,NaN
4,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,5,1.0,NaN
5,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:54,6,1.0,NaN
6,2.787130e+08,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:12:37,7,1.0,NaN
7,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:37,8,1.0,NaN
8,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:40,9,1.0,NaN
9,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:40,10,1.0,NaN
10,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:41,11,1.0,NaN
11,2.787130e+08,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:12:53,12,1.0,NaN
12,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:53,13,1.0,NaN
13,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:12:53,14,1.0,NaN
14,2.787130e+08,-1812321640,Apply for Credit,12,application_web_approved,2021-05-31 23:13:02,15,1.0,1.0
15,2.787130e+08,-1812321640,NaN,1,promotion_created,2021-07-08 07:05:14.253,16,NaN,NaN
16,-1.554036e+09,-1199609206,Apply for Credit,15,application_phone_approved,2021-09-05 18:54:04,1,1.0,1.0
17,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:15:41,1,1.0,NaN
18,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:15:41,2,1.0,NaN
19,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:15:42,3,1.0,NaN
20,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:15:46,4,1.0,NaN
21,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:15:46,5,1.0,NaN
22,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:15:46,6,1.0,NaN
23,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:16:18,7,1.0,NaN
24,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:16:20,8,1.0,NaN
25,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:16:20,9,1.0,NaN
26,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:24,10,1.0,NaN
27,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:24,11,1.0,NaN
28,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:24,12,1.0,NaN
29,1.860729e+09,834400242,Apply for Credit,3,application_web_submit,2022-11-18 06:17:24,13,1.0,NaN
30,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:34,14,1.0,NaN
31,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:47,15,1.0,NaN
32,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:51,16,1.0,NaN
33,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:51,17,1.0,NaN
34,1.860729e+09,834400242,Apply for Credit,19,application_web_view,2022-11-18 06:17:51,18,1.0,NaN
35,1.860729e+09,834400242,Apply for Credit,3,application_web_submit,2022-11-18 06:17:51,19,1.0,NaN
36,1.860729e+09,834400242,Apply for Credit,12,application_web_approved,2022-11-18 06:18:00,20,1.0,1.0
37,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 10:31:24,21,1.0,NaN
38,1.860729e+09,834400242,First Purchase,11,add_to_cart,2022-12-12 10:32:55,22,1.0,NaN
39,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 10:33:10,23,1.0,NaN
40,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 10:33:43,24,1.0,NaN
41,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 10:34:08,25,1.0,NaN
42,1.860729e+09,834400242,First Purchase,11,add_to_cart,2022-12-12 10:34:36,26,1.0,NaN
43,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 10:34:47,27,1.0,NaN
44,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 10:34:56,28,1.0,NaN
45,1.860729e+09,834400242,First Purchase,5,view_cart,2022-12-12 10:37:13,29,1.0,NaN
46,1.860729e+09,834400242,NaN,1,promotion_created,2022-12-12 11:09:49.68,30,NaN,NaN
47,1.860729e+09,834400242,NaN,1,promotion_created,2022-12-12 11:09:49.71,31,NaN,NaN
48,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 12:44:52,32,1.0,NaN
49,1.860729e+09,834400242,First Purchase,4,browse_products,2022-12-12 12:45:22,33,1.0,NaN

* Assigning the probabilities for each state

In [24]:
result_sequences[0:3]

[[2, 19, 3, 19, 19, 3, 19, 19, 19, 3, 19, 12],
 [15],
 [19,
  19,
  19,
  19,
  19,
  19,
  3,
  19,
  19,
  19,
  3,
  12,
  4,
  11,
  4,
  4,
  4,
  11,
  4,
  4,
  5,
  4,
  4,
  11,
  5,
  5,
  5,
  6,
  4,
  4,
  5,
  4,
  4,
  11,
  5,
  4,
  11,
  5,
  4,
  5,
  6,
  7,
  8,
  29,
  4,
  4,
  4,
  11,
  4,
  4,
  11,
  5,
  27,
  5,
  4,
  5,
  4,
  5,
  5,
  6,
  6,
  28]]

In [25]:
# This is going to be our transition matrix
# It will be a dictionary of dictionaries
probs = {}

# Estimation of the transition probabilities
for seq in result_sequences:
    for i in range(len(seq) - 1):
        current_state = seq[i]
        next_state = seq[i + 1]
        
        if current_state == 1:
            print('warning at', i)

        if current_state not in probs:
            # Default dict to add withour checking if the key exists
            probs[current_state] = defaultdict(float)

        probs[current_state][next_state] += 1

In [26]:
probs

{2: defaultdict(float,
             {19: 7741.0,
              12: 20960.0,
              4: 6708.0,
              5: 1647.0,
              3: 459.0,
              27: 265.0,
              22: 3808.0,
              23: 20.0,
              6: 796.0,
              21: 1138.0,
              24: 1565.0,
              29: 468.0,
              13: 425.0,
              2: 244.0,
              8: 39.0,
              11: 328.0,
              18: 61.0,
              15: 16.0,
              26: 11.0,
              28: 6.0,
              10: 1.0,
              7: 12.0}),
 19: defaultdict(float,
             {3: 52971.0,
              19: 210885.0,
              12: 15636.0,
              4: 13907.0,
              5: 3120.0,
              11: 653.0,
              6: 1202.0,
              2: 2372.0,
              24: 1444.0,
              7: 52.0,
              21: 1921.0,
              29: 339.0,
              13: 459.0,
              15: 37.0,
              22: 110.0,
              28: 63.0,
              23: 111.0,
              26: 17.0,
              27: 93.0,
              8: 45.0,
              18: 86.0,
              14: 1.0}),
 3: defaultdict(float,
             {19: 40485.0,
              12: 12427.0,
              5: 674.0,
              24: 246.0,
              3: 7048.0,
              4: 1871.0,
              8: 33.0,
              11: 432.0,
              2: 758.0,
              7: 32.0,
              6: 360.0,
              13: 325.0,
              23: 22.0,
              21: 261.0,
              29: 76.0,
              28: 12.0,
              27: 31.0,
              15: 10.0,
              18: 3.0,
              14: 1.0,
              22: 15.0,
              26: 2.0}),
 12: defaultdict(float,
             {4: 44389.0,
              19: 12742.0,
              6: 2322.0,
              5: 2639.0,
              3: 1815.0,
              21: 5456.0,
              2: 4988.0,
              11: 1221.0,
              29: 722.0,
              18: 210.0,
              24: 3220.0,
              22: 483.0,
              23: 149.0,
              13: 6.0,
              7: 59.0,
              27: 44.0,
              12: 26.0,
              8: 45.0,
              28: 5.0,
              26: 2.0,
              15: 1.0}),
 4: defaultdict(float,
             {11: 186554.0,
              4: 690028.0,
              5: 64106.0,
              19: 9832.0,
              24: 20632.0,
              6: 4756.0,
              29: 4317.0,
              12: 524.0,
              2: 5569.0,
              21: 17712.0,
              27: 2869.0,
              8: 950.0,
              28: 2317.0,
              3: 1192.0,
              13: 91.0,
              26: 71.0,
              18: 461.0,
              7: 344.0,
              23: 236.0,
              22: 278.0,
              15: 37.0,
              16: 2.0,
              14: 1.0}),
 11: defaultdict(float,
             {4: 97149.0,
              5: 93905.0,
              3: 410.0,
              6: 5062.0,
              11: 3941.0,
              24: 1068.0,
              7: 291.0,
              21: 614.0,
              19: 1021.0,
              2: 587.0,
              29: 396.0,
              12: 42.0,
              8: 255.0,
              27: 171.0,
              23: 31.0,
              28: 38.0,
              18: 24.0,
              22: 16.0,
              13: 8.0,
              26: 3.0,
              15: 3.0}),
 5: defaultdict(float,
             {4: 108889.0,
              5: 75143.0,
              6: 105031.0,
              27: 1340.0,
              11: 9273.0,
              24: 5847.0,
              7: 434.0,
              19: 3015.0,
              29: 2290.0,
              2: 1453.0,
              21: 5066.0,
              3: 513.0,
              18: 378.0,
              23: 270.0,
              28: 999.0,
              8: 558.0,
              26: 55.0,
              15: 20.0,
              13: 32.0,
              22: 54.0,
              12: 160.0}),
 6: defaultdict(float,
             {4: 15183.0,
              7: 8695.0,
              6: 13311.0,
              28: 67.0,
              5: 67613.0,
              29: 2319.0,
              27: 285.0,
              19: 4842.0,
              8: 7294.0,
              11: 2549.0,
              24: 3998.0,
              21: 4326.0,
              23: 64.0,
              3: 491.0,
              2: 1454.0,
              12: 92.0,
              18: 132.0,
              26: 18.0,
              22: 73.0,
              13: 10.0,
              15: 19.0,
              10: 1.0}),
 7: defaultdict(float,
             {8: 8290.0,
              29: 1750.0,
              27: 1796.0,
              4: 2169.0,
              5: 1232.0,
              6: 460.0,
              11: 255.0,
              2: 198.0,
              24: 568.0,
              12: 72.0,
              21: 29.0,
              19: 186.0,
              3: 49.0,
              28: 54.0,
              22: 17.0,
              18: 12.0,
              23: 19.0,
              26: 53.0,
              13: 10.0,
              15: 1.0,
              7: 5.0}),
 8: defaultdict(float,
             {29: 2106.0,
              6: 378.0,
              7: 7259.0,
              8: 2914.0,
              27: 3070.0,
              23: 18.0,
              26: 73.0,
              4: 2740.0,
              5: 1212.0,
              11: 230.0,
              24: 695.0,
              2: 205.0,
              28: 338.0,
              21: 34.0,
              19: 129.0,
              3: 28.0,
              18: 19.0,
              22: 8.0,
              12: 2.0}),
 29: defaultdict(float,
             {4: 5554.0,
              24: 841.0,
              15: 180.0,
              27: 4037.0,
              8: 516.0,
              19: 783.0,
              5: 4070.0,
              12: 1443.0,
              7: 176.0,
              18: 529.0,
              6: 699.0,
              2: 982.0,
              22: 72.0,
              11: 272.0,
              26: 106.0,
              21: 190.0,
              3: 56.0,
              13: 25.0,
              23: 12.0,
              16: 1.0,
              29: 4.0,
              28: 12.0}),
 27: defaultdict(float,
             {5: 1084.0,
              28: 10962.0,
              24: 879.0,
              8: 417.0,
              4: 2755.0,
              21: 304.0,
              6: 20.0,
              19: 88.0,
              3: 5.0,
              18: 43.0,
              11: 33.0,
              23: 4.0,
              29: 3.0,
              12: 6.0,
              7: 2.0,
              2: 1.0}),
 24: defaultdict(float,
             {21: 13871.0,
              4: 16157.0,
              2: 496.0,
              28: 1013.0,
              24: 32758.0,
              5: 4966.0,
              27: 1665.0,
              6: 909.0,
              19: 975.0,
              29: 1326.0,
              18: 170.0,
              12: 102.0,
              8: 133.0,
              3: 104.0,
              11: 457.0,
              15: 17.0,
              26: 56.0,
              13: 31.0,
              7: 33.0,
              23: 15.0,
              22: 11.0,
              16: 1.0,
              14: 2.0}),
 21: defaultdict(float,
             {21: 56710.0,
              24: 5742.0,
              12: 1513.0,
              29: 1290.0,
              4: 13665.0,
              5: 3248.0,
              19: 1860.0,
              11: 38.0,
              18: 185.0,
              13: 26.0,
              28: 226.0,
              6: 446.0,
              3: 59.0,
              23: 36.0,
              27: 105.0,
              2: 891.0,
              22: 115.0,
              15: 352.0,
              8: 9.0,
              26: 4.0,
              16: 3.0}),
 22: defaultdict(float,
             {2: 3626.0,
              19: 453.0,
              12: 2304.0,
              13: 21.0,
              21: 116.0,
              4: 303.0,
              5: 59.0,
              3: 23.0,
              24: 109.0,
              29: 25.0,
              27: 15.0,
              6: 14.0,
              18: 1.0,
              11: 13.0,
              8: 2.0}),
 15: defaultdict(float,
             {6: 12.0,
              18: 744.0,
              4: 163.0,
              21: 421.0,
              3: 3.0,
              29: 134.0,
              24: 23.0,
              5: 35.0,
              16: 1.0,
              11: 4.0,
              2: 8.0,
              19: 15.0,
              13: 3.0,
              28: 1.0,
              27: 1.0,
              15: 1.0,
              12: 2.0}),
 23: defaultdict(float,
             {27: 23.0,
              4: 247.0,
              2: 71.0,
              28: 14.0,
              5: 160.0,
              21: 141.0,
              24: 64.0,
              6: 20.0,
              19: 59.0,
              29: 21.0,
              22: 2.0,
              3: 13.0,
              18: 2.0,
              11: 15.0,
              12: 4.0,
              26: 6.0,
              8: 1.0,
              15: 1.0,
              23: 3.0}),
 26: defaultdict(float,
             {27: 299.0,
              4: 84.0,
              24: 25.0,
              5: 47.0,
              8: 11.0,
              19: 5.0,
              21: 7.0,
              11: 2.0,
              3: 1.0,
              18: 5.0,
              6: 1.0}),
 28: defaultdict(float,
             {2: 68.0,
              19: 116.0,
              24: 6.0,
              12: 50.0,
              22: 4.0,
              4: 114.0,
              3: 12.0,
              5: 7.0,
              13: 8.0,
              29: 17.0,
              7: 1.0,
              21: 117.0,
              15: 7.0,
              6: 6.0,
              27: 3.0,
              11: 4.0}),
 13: defaultdict(float,
             {5: 53.0,
              15: 29.0,
              12: 147.0,
              2: 426.0,
              4: 187.0,
              3: 63.0,
              19: 1018.0,
              29: 16.0,
              6: 37.0,
              24: 22.0,
              13: 10.0,
              11: 4.0,
              22: 36.0,
              21: 4.0,
              23: 5.0,
              18: 1.0,
              27: 1.0}),
 18: defaultdict(float,
             {4: 517.0,
              19: 47.0,
              29: 419.0,
              18: 173.0,
              27: 695.0,
              5: 245.0,
              28: 112.0,
              6: 40.0,
              24: 320.0,
              26: 29.0,
              21: 78.0,
              2: 15.0,
              16: 2.0,
              8: 3.0,
              11: 16.0,
              15: 4.0,
              12: 7.0,
              23: 3.0,
              7: 4.0,
              3: 1.0}),
 20: defaultdict(float, {12: 9.0, 2: 16.0, 22: 3.0, 29: 1.0, 15: 1.0}),
 16: defaultdict(float, {29: 1.0, 15: 15.0, 18: 1.0}),
 10: defaultdict(float, {5: 1.0, 10: 12.0, 6: 1.0}),
 14: defaultdict(float, {5: 1.0, 4: 1.0, 24: 1.0, 3: 1.0})}

* Now we normalize these counts to obtain the probabilities (i.e. values between 0 and 1 that sum to 1)

In [27]:
for state in probs:
    # Obtain the total of transitions for this certain state
    total_transitions = sum(probs[state].values())
    
    # Now for each next state that has a connection with the current state, we obtain
    # the number of transitions and divide it by the total transitions to obtain the probability
    for next_state in probs[state]:
        probs[state][next_state] /= total_transitions

In [28]:
try:
    probs[1]
except KeyError:
    print('No state 1 - this should be the case')

No state 1 - this should be the case

* Verify if the probabilities are correct

In [29]:
for state in probs:
    summ = sum(probs[state].values())
    if summ != 1:
        print(f'State {state} sum', summ)

State 4 sum 0.9999999999999999
State 6 sum 0.9999999999999999
State 29 sum 0.9999999999999998
State 27 sum 0.9999999999999999
State 21 sum 0.9999999999999999
State 15 sum 1.0000000000000002
State 18 sum 0.9999999999999999
State 20 sum 0.9999999999999999
State 10 sum 0.9999999999999999

## Model

### Predicting the next state

* Simple and basic prediction of the next state

In [30]:
def predict_next_state(current_state):
    """Function to predict the next state given the current state

    Args:
        current_state (int): Current state of the user

    Returns:
        int: Next state of the user
    """
    if current_state in probs:
        next_states = list(probs[current_state].keys())
        probabilities = list(probs[current_state].values())
        
        # Randomly select the next state given the probabilities
        predicted_state = np.random.choice(next_states, p=probabilities)
        
        return predicted_state
    else:
        print('State not found in the existing events.')
        return None

* Example for predicting the next state

In [31]:
# There should not be any state 1
probs.keys()

dict_keys([2, 19, 3, 12, 4, 11, 5, 6, 7, 8, 29, 27, 24, 21, 22, 15, 23, 26, 28, 13, 18, 20, 16, 10, 14])

In [32]:
current_state = 2
predicted_state = predict_next_state(current_state)

current_event_name = event_defs[event_defs['event_definition_id'] == current_state]['event_name'].values[0]
predicted_event_name = event_defs[event_defs['event_definition_id'] == predicted_state]['event_name'].values[0]

print(f"Given the event {current_event_name}, the next event the user will go is {predicted_event_name}")

Given the event campaign_click, the next event the user will go is pre_application_3rd_party_affiliates

Note : Verify if tthe prediction arises a problem

## Model 2

Second approach for the model. Predict if a customer will

In [33]:
data

,customer_id,account_id,stage,ed_id,event_name,event_timestamp,journey_steps_until_end,journey_id,milestone_number
0,2.787130e+08,-1812321640,Discover,2,campaign_click,2021-05-31 06:00:00,1,1.0,NaN
1,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:03,2,1.0,NaN
2,2.787130e+08,-1812321640,Apply for Credit,3,application_web_submit,2021-05-31 23:11:51,3,1.0,NaN
3,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,4,1.0,NaN
4,2.787130e+08,-1812321640,Apply for Credit,19,application_web_view,2021-05-31 23:11:51,5,1.0,NaN
...,...,...,...,...,...,...,...,...,...
3246336,-1.948257e+09,-1123823706,First Purchase,5,view_cart,2023-08-29 02:45:54,28,1.0,NaN
3246337,-1.948257e+09,-1123823706,First Purchase,4,browse_products,2023-08-29 02:45:54,29,1.0,NaN
3246338,-1.948257e+09,-1123823706,First Purchase,11,add_to_cart,2023-08-29 02:45:54,30,1.0,NaN
3246339,-1.948257e+09,-1123823706,First Purchase,6,begin_checkout,2023-08-29 02:45:54,31,1.0,NaN
3246340,-1.948257e+09,-1123823706,First Purchase,6,begin_checkout,2023-08-29 02:45:54,32,1.0,NaN