# Model

* **Team :** Data Crew

This is the corresponding jupyter notebook where the model will be developed and stored in order to make predictions on the data.

In [1]:
# Basic Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Own Libraries
from utils import has_correct_sequence, fingerhut_data_cleaner

sns.set_style('whitegrid')

## Retrieving the data

In [2]:
data = pd.read_csv('../../1. Data/smaller_sample.csv')
event_defs = pd.read_csv('../../1. Data/Event+Definitions.csv')

* Applying the cleaning functions

In [3]:
df = fingerhut_data_cleaner(data, event_defs)
df

,customer_id,account_id,ed_id,event_name,event_timestamp,ed_id,journey_steps_until_end,stage
0,2.787130e+08,-1812321640,2,campaign_click,2021-05-31 06:00:00,2,1,Discover
1,2.787130e+08,-1812321640,19,application_web_view,2021-05-31 23:11:03,19,2,Apply for Credit
2,2.787130e+08,-1812321640,3,application_web_submit,2021-05-31 23:11:51,3,3,Apply for Credit
3,2.787130e+08,-1812321640,19,application_web_view,2021-05-31 23:11:51,19,4,Apply for Credit
4,2.787130e+08,-1812321640,19,application_web_view,2021-05-31 23:11:51,19,5,Apply for Credit
...,...,...,...,...,...,...,...,...
3246336,-1.948257e+09,-1123823706,5,view_cart,2023-08-29 02:45:54,5,28,First Purchase
3246337,-1.948257e+09,-1123823706,4,browse_products,2023-08-29 02:45:54,4,29,First Purchase
3246338,-1.948257e+09,-1123823706,11,add_to_cart,2023-08-29 02:45:54,11,30,First Purchase
3246339,-1.948257e+09,-1123823706,6,begin_checkout,2023-08-29 02:45:54,6,31,First Purchase
3246340,-1.948257e+09,-1123823706,6,begin_checkout,2023-08-29 02:45:54,6,32,First Purchase

In [4]:
has_correct_sequence(df['journey_steps_until_end'])

True